[
  {
    "email": "your-email@example.com",
    "password": "your-private-server-password-1",
    "hostname": "screeps.your-server.com",
    "port": 21025,
    "protocol": "http",
    "branch": "default",
    "serverName": "My Primary Server"
  },
  {
    "email": "another-email@example.com",
    "password": "your-private-server-password-2",
    "hostname": "screeps.another-server.com",
    "port": 21025,
    "protocol": "http",
    "branch": "custom-branch",
    "serverName": "Another Test Server"
  }
]
